<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-navbar></app-navbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <swiper-container
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image" />
    </swiper-slide>
  </swiper-container>
  <button (click)="navegarAgregarProducto()" class="btn-admin-Agregarproducto" *ngIf="userDataService.getRol() === 2">
    Agrega un producto
  </button>
  <app-cards-products></app-cards-products>
</ion-content>
