ion-icon{
  font-size: 25px;
  color: rgb(198, 32, 32);
}

ion-button{
  --color: rgb(255, 255, 255);
  --background-hover: rgb(114, 114, 114);
}

ion-content {
  --background: #ffffff;
}

.card {
  height: 17rem;
  width: 10rem;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  background-size: 200% 200%;
  border-radius: 12px;
}

.card-int {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 140px;
  background-color: white;
}

.title {
  font-weight: bold;
  font-size: 13px;
}

.card-data {
  
  font-size: 13px;
}

.card__span {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 11px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 15px;
}

button {
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-size: 200% 200%;
  border: none;
  padding: 8px 10px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.1s ease-in;
}

button:active {
  transform: translateY(3px);
}

.card:hover, button:hover {
  animation: gradient 0.8s ease-in 1;
}

