

<div *ngIf="isLoading"
  style="display: flex; justify-content: center; align-items: center; height: 100%;">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</div>

<div *ngIf="error" style="text-align: center;">
  {{ error }}
</div>

<div *ngIf="!isLoading && !error">
  <div>
    <div>
      <ion-row>
        <ion-col size="6" *ngFor="let item of resp">
          <article class="card">
            <div class="card-int">
              <span class="card__span">{{ item.nombre_categoria }}</span>
              <span class="card__span2">{{ item.nombre_plataforma }}</span>
              <div class="img">
                <img height="100%" width="auto" [src]="item.imagen_producto">
              </div>
              <div class="card-data">
                <p class="title">{{ item.nombre_producto }}</p>
                <p>Precio: ${{ item.precio_producto }}</p>
                <button class="button"
                  (click)="verDetalles(item.id_producto)">Detalles</button>
                <button class="button" *ngIf="userDataService.getRol() === 2"
                  (click)="confirmarEliminacion(item.id_producto)">Eliminar</button>
              </div>
            </div>
          </article>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>
