<div class="contenedor_registro">
  <div class="grid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="titulo_aling">
            <img src="../../../assets/img/logo.png" width="100px" height="auto">
            <h1>Gaming Shop</h1>
          </div>
          <div class="card-header">
            <h1>Inicio de sesion</h1>
          </div>
          <div class="card-content">
            <form class="form_login" (ngSubmit)="login()">
              <div class="item">
                <label for="email" position="floating">Correo electrónico</label>
                <input type="email" [(ngModel)]='email' id="email" name="email" required>
              </div>
              <div class="item">
                <label for="password" position="floating">Contraseña</label>
                <input type="password" [(ngModel)]='password' id="password" name="password" required>
              </div>
              <!-- <div class="item"> -->
                <!-- <label for="repeatPassword" position="floating">Repetir contraseña</label> -->
                <!-- <input type="password" [(ngModel)]='repeatPassword' id="repeatPassword" name="repeatPassword" required> -->
              <!-- </div> -->
              <button type="submit" class="iniciar_sesion">
                Inicia sesion
              </button>
            </form>
            <br>
            <div class="alinear_esto">
              <p>¿No tienes una cuenta? <a (click)="navigateToRegister()">Regístrate aquí</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
