<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-navbar></app-navbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="buscador" [(ngModel)]="terminoBusqueda" (ionChange)="buscar()"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let producto of productos$ | async">
        <article class="card">
          <div class="card-int">
            <span class="card__span">{{ producto.nombre_categoria }}</span>
            <div class="img">
              <img height="100%" width="auto" [src]="producto.imagen_producto" alt="Imagen del producto">
            </div>
            <div class="card-data">
              <p class="title">{{ producto.nombre_producto }}</p>
              <p>Precio: ${{ producto.precio_producto }}</p>
              <button class="button">Detalles</button>
            </div>
          </div>
        </article>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
