<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Registro</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form class="form_login" (ngSubmit)="signup()">
              <ion-item>
                <ion-label position="floating">Nombre de usuario</ion-label>
                <ion-input type="text" [(ngModel)]='name' name="name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input type="email" [(ngModel)]='email' name="email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]='password' name="password" required></ion-input>
              </ion-item>
              <!-- <ion-item> -->
                <!-- <ion-label position="floating">Repetir contraseña</ion-label> -->
                <!-- <ion-input type="password" [(ngModel)]='repeatPassword' name="repeatPassword" required></ion-input> -->
              <!-- </ion-item> -->
              <ion-button type="submit" (click)="signup()" class="iniciar_sesion">
                Registrate
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
