<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-navbar></app-navbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion size="3" *ngFor="let categoria of resp_categorias">
      <ion-item slot="header" class="accordion-header">
        <ion-label>{{ categoria.categoria }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-cards-products [categoriaId]="categoria.id"></app-cards-products>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
